<html>
  {{ $baseurl := .Site.BaseURL }}
  {{ partial "header.html" . }}
  <body>
    <div id="container">
      <!-- Banner header -->
      {{ partial "body_banner.html" . }}
      <!-- id="header" -->

      <div id="pagebody">
        <!-- Left sidebar -->
          {{ partial "article_menu.html" . }}
        <!-- id="sidebar-left" -->
        
        <!-- Main content of page -->
        <div id="contentbody" class="three-column" >		
          <div id="main">
            <div class="breadcrumb">
              <a href="/">Home</a>
            </div>		
            <h1 class="title">{{ .Title }}</h1>
            <div class="tabs"></div>
            <div class="node">
              <span class="taxonomy"></span>
              <div class="content">
                <div style="float:right;padding:10px">
	              <img src="{{ $baseurl }}img/{{.Params.image}}" />
	            </div><!-- <div style="float:right;padding:10px"> -->
              </div><!-- <div class="content"> -->
            </div><!-- <div class="node"> -->
          </div><!-- <div id="main"> -->
          {{ .Content }}
          {{ if isset .Params "audio" }}
            {{ if .Params.audio }}
              <audio controls>
                <source src="{{ $baseurl }}audios/{{ .Params.audio }}" type="audio/mpeg">
              </audio>
            {{ end }}
          {{ end }}
        <!-- </div>id="contentbody" -->
        <div class="visualclear"></div>
        {{ partial "biography_menu.html" . }}
      </div><!-- id="pagebody" -->
      {{ partial "footer.html" . }}
    </div>
  </body>
</html>

