<html>
  {{ $baseurl := .Site.BaseURL }}
  {{ partial "header.html" . }}
  <body>
  <!-- Debug Statements -->
  <!-- <p>Is this seen as a node or page? {{ printf "%T" . }} </p>
  
  <p>Value of .Permalink (on Nodes and Pages): {{ printf "%#v" .Permalink }}</p>
  <p>List of all variables scoped to the current context: {{ printf "%#v" . }}</p>
  
  <p>Top level template context(prints values under .Site): {{ printf "%#v" $.Site }}</p>
  <p>When writing homepage see what pages you are looping through look like:</p>
  {{ range .Data.Pages }}
    <p> {{/* The context, ".", is now a Page */}} </p>
    <p> {{ printf "%#v" . }} </p>
  {{ end }}</p> -->
    <div id="container">
      <!-- Banner header -->
      {{ partial "body_banner.html" . }}
      
      <div id="pagebody">
        <!-- Left sidebar -->
          {{ partial "article_menu.html" . }}
        <!-- id="sidebar-left" -->

        <!-- Main content of page -->
        <div id="contentbody" class="three-column" >		
          <div id="main">
            <div class="breadcrumb">
            <a href="/">Home</a>
            </div>		
            <h1 class="title">{{ .Title }}</h1>
            <div class="tabs"></div>
            <div class="node">
            <span class="taxonomy"></span>
              <div class="content">
                <div style="float:right;padding:10px">
	              <img src="{{ .Site.BaseURL }}files/photos/490/guardian_wall_logo.jpg" />
                </div>
                  {{ .Content }}
                  {{ partial "article_bottom_nav.html" . }}
              </div><!--  id="content" -->
            </div><!--  id="node" -->
          </div><!--  id="main" -->
        </div><!--  id="contentbody" -->
        
        {{ partial "biography_menu.html" . }}
        <div class="visualclear"></div>
      </div><!-- id="pagebody" -->
      {{ partial "footer.html" . }}
    </div>
  </body>
</html>