{{ $baseurl := .Site.BaseURL }}
<div id="sidebar-left">
  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
      <ul class="menu">
      {{ range where .Site.Pages.ByWeight.Reverse "Section" "article"}}
          {{ .Render "li"}}
      {{ end }}
      </ul>
    </div>
  </div>
  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>
    <div class="content">
      <div class="content">
        <ul class="menu">
          <li class="printpdf">
            <a href="{{ $baseurl }}pdf/WikiLeaks&#32;and&#32;the&#32;Guardian.pdf" target="_blank">
            Download this case as a PDF
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>