<head>
  <title>Friend or foe? WikiLeaks and the Guardian | Friend or foe? WikiLeaks and the Guardian
	- A Journalism Case Study

  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="img/x-icon" />

<style type="text/css" media="all">@import "css/book/book.css";</style>
<style type="text/css" media="all">@import "css/node/node.css";</style>
<style type="text/css" media="all">@import "css/system/defaults.css";</style>
<style type="text/css" media="all">@import "css/system/system.css";</style>
<style type="text/css" media="all">@import "css/user/user.css";</style>
<style type="text/css" media="all">@import "css/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
</script>

<script type="text/javascript" src="com/greybox/AJS.js"></script>
<script type="text/javascript" src="com/greybox/AJS_fx.js"></script>
<script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
<link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
</script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #1f9937;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #1f9937;
}

#media {
font-style:italic;
}



</style>
</head>
