<style type="text/css" media="all">@import "{{ .Site.BaseURL }}css/book/book.css";</style>
<style type="text/css" media="all">@import "{{ .Site.BaseURL }}css/node/node.css";</style>
<style type="text/css" media="all">@import "{{ .Site.BaseURL }}css/system/defaults.css";</style>
<style type="text/css" media="all">@import "{{ .Site.BaseURL }}css/system/system.css";</style>
<style type="text/css" media="all">@import "{{ .Site.BaseURL }}css/user/user.css";</style>
<style type="text/css" media="all">@import "{{ .Site.BaseURL }}css/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "{{ .Site.BaseURL }}css/knightcase/style.css";</style>
<style type="text/css" media="print">@import "{{ .Site.BaseURL }}css/knightcase/print.css";</style>
<link href="{{ .Site.BaseURL }}com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
<style>
#main .title
{
	color: #1f9937;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #1f9937;
}

#media {
font-style:italic;
}
</style>