{{ $baseurl := .Site.BaseURL }}
<div id="contentbody" class="two-column" >	
          <div id="main">
            <div class="breadcrumb">
              <a href="/">Home</a>
            </div>		
            <h1 class="title">Friend or foe? WikiLeaks and the <i>Guardian</i></h1>
            <div class="tabs"></div>
            <div class="node">
              <span class="taxonomy"></span>
              <div class="content">
                <div class="content">
                  <div class="content">
                    <p><strong>Abstract </strong></p>
                    <p><em>CSJ-11-0041.0 </em>This case is about the celebrated collaboration between WikiLeaks, the secure website for whistleblowers, and the mainstream media&mdash; focusing on the British <em>Guardian</em> newspaper. It raises for discussion whether the <em>Guardian</em> and its international media partners were correct to collaborate with WikiLeaks and to publish US secret government documents. The case traces the history of the <em>Guardian</em>&rsquo;s relationship with WikiLeaks founder Julian Assange through the summer and fall 2010 publication of confidential documents from the Afghan and Iraq battlefields, up through the eve of publishing a trove of classified diplomatic cables in November 2010. It also examines the relationship and logistics of coordinating five news organizations pledged to secrecy as they prepare to publish the cables simultaneously.</p>
                    <p>Use this case to discuss government/media relations&mdash;in this instance, is the US government a partner or an adversary? When is national security a reason not to publish? Students should also consider what constitutes journalism and who is a journalist. What is Assange? What rules should govern the <em>Guardian</em>&rsquo;s relationship with WikiLeaks?Also talk about international media collaboration. What principles are involved? Finally, students will gain insight into the challenges of data-driven reporting, and an appreciation of what is required in the Internet age to process large amounts of data and make it publicly available.</p>
                    <p>This case can be used in a class on government-media relations; managing sources; data journalism; editorial decisionmaking; or international reporting.</p>
                  <div><!-- End 3rd content div -->
                  <em>This case has an Epilogue and a Teaching Note, visible to faculty after they register.</em>
                </div><!-- End 2nd content div -->

                <p><strong>Credits</strong></p>
                <div style="margin-left: 4.3pt;">
                  <p><em>This case was written by Kirsten Lundberg, Director, Knight Case Studies Initiative, Graduate School of Journalism, Columbia University. The faculty sponsor was Professor Michael Schudson. Funding was provided&nbsp; by the John S. and James L. Knight Foundation. (0611)</em></p>
                </div>
                <p>Copyright &copy; 2011 The Trustees of Columbia University in the City of New York. No part of this publication may be reproduced, revised, translated, stored in a retrieval system, used in a spreadsheet, or transmitted in any form or by any means (electronic, mechanical, photocopying, recording, or otherwise) without the written permission of the Case Studies Initiative.</p>
              <div><!-- End 1st content div -->
                <strong>For further information:</strong>
              </div>
              <div>
                  E-mail: <a href="mailto:ccnmtl+casestudies@columbia.edu" style="color: rgb(17, 85, 204);" target="_blank">ccnmtl+casestudies@columbia.edu</a>
              </div>
              <div>
	              Website:&nbsp;<a href="http://casestudies.ccnmtl.columbia.edu/" target="_blank">https://casestudies.ccnmtl.columbia.edu</a>
              </div>

              <div class="book-navigation" style="clear:both">
                <div class="page-links clear-block">
                  <a href="{{ $baseurl }}page/introduction" class="page-next" title="Go to next page">Introduction&#160;&#187;</a>
                </div>
              </div>

            </div>
          </div>
        </div><!-- id="main" -->
         </div><!-- id="contentbody" -->