{{ $baseurl := .Site.BaseURL }}
<div id="sidebar-left">
  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
      <ul class="menu">
        <li class="leaf"><a  class="active"  href="title_page.html">Title Page</a></li>
        <li class="leaf"><a  href="i{{ $baseurl }}page/introduction">Introduction</a></li>
        <li class="leaf"><a  href="{{ $baseurl }}page/guardian"><i>Guardian</i>: a brief history</a></li>
        <li class="leaf"><a  href="wikileaks_a_brief_history.html">WikiLeaks: a brief history</a></li>
        <li class="leaf"><a  href="first_contact.html">First Contact</a></li>
        <li class="leaf"><a  href="the_war_logs">The War Logs</a></li>
        <li class="leaf"><a  href="iraq_logs_and_the_cables">Iraq logs&mdash;and the cables</a></li>
        <li class="leaf"><a  href="when_is_a_deal_not_a_deal.html">When is a Deal Not a Deal?</a></li>
        <li class="leaf"><a  href="november_1_firestorm.html">November 1 firestorm</a></li>
        <li class="leaf"><a  href="redactions_and_reporting.html">Redactions and reporting</a></li>
        <li class="leaf"><a  href="government_weighs_in.html">Government weighs in</a></li>
        <li class="leaf"><a  href="caution_and_concern.html">Caution and concern</a></li>
      </ul>
    </div>
  </div>
  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>
    <div class="content">
      <div class="content">
        <ul class="menu">
          <li class="printpdf">
            <a href="../../files/global/70/WikiLeaks&#32;and&#32;the&#32;Guardian.pdf" target="_blank">Download this case as a PDF</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>