{{ $baseurl := .Site.BaseURL }}
<div id="sidebar-left">
  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
      <ul class="menu">
        <li class="leaf"><a  class="active"  href="title_page.html">Title Page</a></li>
        <li class="leaf"><a  href="{{ $baseurl }}article/introduction/">Introduction</a></li>
        <li class="leaf"><a  href="{{ $baseurl }}article/guardian-brief-history/"><i>Guardian</i>: a brief history</a></li>
        <li class="leaf"><a  href="{{ $baseurl }}article/wikileaks-brief-history/">WikiLeaks: a brief history</a></li>
        <li class="leaf"><a  href="{{ $baseurl }}article/first-contact/">First Contact</a></li>
        <li class="leaf"><a  href="{{ $baseurl }}article/war-logs/">The War Logs</a></li>
        <li class="leaf"><a  href="{{ $baseurl }}article/iraqi-logs-cables/">Iraq logs&mdash;and the cables</a></li>
        <li class="leaf"><a  href="{{ $baseurl }}article/deal-not-a-deal/">When is a Deal Not a Deal?</a></li>
        <li class="leaf"><a  href="{{ $baseurl }}article/november-first/">November 1 firestorm</a></li>
        <li class="leaf"><a  href="{{ $baseurl }}article/redaction-and-reporting/">Redactions and reporting</a></li>
        <li class="leaf"><a  href="{{ $baseurl }}article/government-weighs-in/">Government weighs in</a></li>
        <li class="leaf"><a  href="{{ $baseurl }}article/caution-and-concern/">Caution and concern</a></li>
      </ul>
    </div>
  </div>
  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>
    <div class="content">
      <div class="content">
        <ul class="menu">
          <li class="printpdf">
            <a href="{{ $baseurl }}pdf/WikiLeaks&#32;and&#32;the&#32;Guardian.pdf" target="_blank">Download this case as a PDF</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>