

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Government weighs in | Friend or foe? WikiLeaks and the Guardian
	- A Journalism Case Study

  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #1f9937;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #1f9937;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/70/knightcase_banner_wikileaks.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_70.html" title="Home"><span>Government weighs in</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_70_id_624.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_70_id_625.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_70_id_626.html"><i>Guardian</i>: a brief history</a>





</li>


<li class="leaf"><a  href="case_id_70_id_627.html">WikiLeaks: a brief history</a>





</li>


<li class="leaf"><a  href="case_id_70_id_628.html">First Contact</a>





</li>


<li class="leaf"><a  href="case_id_70_id_629.html">The War Logs</a>





</li>


<li class="leaf"><a  href="case_id_70_id_630.html">Iraq logs&mdash;and the cables</a>





</li>


<li class="leaf"><a  href="case_id_70_id_631.html">When is a Deal Not a Deal?</a>





</li>


<li class="leaf"><a  href="case_id_70_id_632.html">November 1 firestorm</a>





</li>


<li class="leaf"><a  href="case_id_70_id_633.html">Redactions and reporting</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_70_id_634.html">Government weighs in</a>





</li>


<li class="leaf"><a  href="case_id_70_id_635.html">Caution and concern</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/70/WikiLeaks&#32;and&#32;the&#32;Guardian.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_70.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Government weighs in</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><div style="float: right; padding: 10px;">
	<img src="../../files/photos/491/guardian_building.jpg" /><br />
	<p class="caption">
		<i>Guardian</i> building</p>
</div>
<p>
	The <em>Guardian</em> was not inclined to ask for comments in advance of publication. Such an action would have opened it up to injunctions under the Official Secrets Act on the grounds that the newspaper was in unlawful possession of confidential documents. &ldquo;Our instincts, coming from a European tradition, would have been not to,&rdquo; comments Rusbridger. But the <em>New York Times</em> took a different view and, on November 19, first approached the White House to let it know which cables it planned to disclose. &ldquo;When Bill [Keller] said we&rsquo;re going to go a week in advance, we were all quite uneasy,&rdquo; recalls Rusbridger, partly from fear of injunction.</p>
<blockquote>
	<p>
		I think all the European partners were anxious. And I think, left to our own devices, we wouldn&rsquo;t have done what Bill [Keller] did&hellip; It was a difficult position where you felt obliged to get some reaction. But the longer you gave them, the longer it gave them to injunct us.</p>
</blockquote>
<p>
	Also, says Katz, the <em>Guardian</em> was well aware that &ldquo;often, institutions and governments dress up in security terms things which are simply embarrassing or are politically inconvenient.&rdquo;</p>
<p>
	The <em>Times</em> forwarded White House comments to the <em>Guardian</em>&mdash;an awkward arrangement because it was not clear whether the <em>Times</em> represented the other media partners and whether it was a formal clearance process or an informal one.<a href="case_id_70_id_634_pid_0.html#_ftn1" name="_ftnref1" title="">[1]</a> So on Friday, November 26, the White House hosted a conference call with Rusbridger, Deputy Editor Katz, US Assistant Secretary of State P.J. Crowley, and representatives from Defense, intelligence community, and the National Security Council. Crowley stated that &ldquo;from our perspective, these are stolen documents,&rdquo; to which the British editors did not reply.</p>
<p>
	Crowley asked Rusbridger for the numbers of the cables the paper intended to use, but Rusbridger would not oblige. He did disclose the <em>Guardian</em>&rsquo;s intended publication schedule: Day 1, Iran; Day 2, North Korea; Day 3, Pakistan. Quite soon Crowley, worried that the government was giving out more information than it was getting, wrapped up the call. Apparently, as Investigations Editor Leigh recalls, &ldquo;they weren&rsquo;t going to come after us. They were going to engage with us instead.&rdquo; Just before publication, says Rusbridger, the <em>Guardian</em> also heard from the British government&mdash;&ldquo;a sort of private message from Number 10 [Downing Street] saying don&rsquo;t worry, we&rsquo;re not going to injunct you.&rdquo;</p>
<p>
	By the target publication date of November 28, the <em>Guardian</em> had more than 160 articles ready to go and more in production. On the eve of publication, however, Editor Rusbridger found himself questioning whether the newspaper had made the right choice.</p>
<div>
	<br clear="all" />
	<hr align="left" size="1" width="33%" />
	<div id="ftn1">
		<p>
			<span style="font-size: 11px;"><a href="case_id_70_id_634_pid_0.html#_ftnref1" name="_ftn1" title="">[1]</a> <em>Der Spiegel</em> came in for its fair share of pressure as well; the US ambassador called Editor Mascolo to warn against publishing the cables. The government also asked WikiLeaks not to publish and hand back all records. Assange in fact offered to consider US objections and said WikiLeaks had no desire to put anyone at risk.</span></p>
	</div>
</div>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_70_id_633_pid_0.html" class="page-previous" title="Go to previous page">&#171;&#160;Redactions and reporting</a>

<a href="case_id_70_id_635_pid_0.html" class="page-next" title="Go to next page">Caution and concern&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_70_id_171_c_bio.html">Nick&nbsp;Davies</a></li>

<li class="leaf"><a  href="case_id_70_id_172_c_bio.html">David&nbsp;Leigh</a></li>

<li class="leaf"><a  href="case_id_70_id_173_c_bio.html">Ian&nbsp;Katz</a></li>

<li class="leaf"><a  href="case_id_70_id_174_c_bio.html">Alan&nbsp;Rusbridger</a></li>

<li class="leaf"><a  href="case_id_70_id_175_c_bio.html">Jon&nbsp;Casson</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
