

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Biography: Jon Casson | Friend or foe? WikiLeaks and the Guardian
	- A Journalism Case Study

  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

 
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/70/knightcase_banner_wikileaks.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_70.html" title="Home"><span>Biography: Jon Casson</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/70/WikiLeaks&#32;and&#32;the&#32;Guardian.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_70.html">Home</a></div>		
		<h1 class="title">Biography: Jon&nbsp;Casson</h1>		
		
		  <div class="node">        
    <span class="taxonomy"></span>
    <div class="content"><div style="float: right; padding: 10px;">
	<img src="../../files/photos/488/Jon&#32;Casson.jpg" /></div>
<p>
	<strong>Jon Casson</strong> was appointed <em>Guardian </em>head of production in 2008. As such, he was responsible for all copy editing for the integrated production of the print papers and website of the <em>Guardian</em>, the <em>Observer</em> and guardian.co.uk. As chief copy editor, Casson was part of the team that helped to launch an enhanced <em>Guardian</em> website, mediaguardian.co.uk (replacing Guardian Unlimited), in September 2000. His was the first staff appointment to the new website.</p>
<p>
	<i>Listen to Casson describe his position with the </i>Guardian.<br />
	<img alt="" border="0" class="audiofile" src="../../files/audios/191/Casson&#32;bio&#32;quote.mp3" /></p>
</div>
      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->

		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_70_id_171_c_bio.html">Nick&nbsp;Davies</a></li>

<li class="leaf"><a  href="case_id_70_id_172_c_bio.html">David&nbsp;Leigh</a></li>

<li class="leaf"><a  href="case_id_70_id_173_c_bio.html">Ian&nbsp;Katz</a></li>

<li class="leaf"><a  href="case_id_70_id_174_c_bio.html">Alan&nbsp;Rusbridger</a></li>

<li class="leaf"><a  class="active"  href="case_id_70_id_175_c_bio.html">Jon&nbsp;Casson</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
