

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Guardian: a brief history | Friend or foe? WikiLeaks and the Guardian
	- A Journalism Case Study

  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #1f9937;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #1f9937;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/70/knightcase_banner_wikileaks.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_70.html" title="Home"><span>Guardian: a brief history</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_70_id_624.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_70_id_625.html">Introduction</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_70_id_626.html"><i>Guardian</i>: a brief history</a>





</li>


<li class="leaf"><a  href="case_id_70_id_627.html">WikiLeaks: a brief history</a>





</li>


<li class="leaf"><a  href="case_id_70_id_628.html">First Contact</a>





</li>


<li class="leaf"><a  href="case_id_70_id_629.html">The War Logs</a>





</li>


<li class="leaf"><a  href="case_id_70_id_630.html">Iraq logs&mdash;and the cables</a>





</li>


<li class="leaf"><a  href="case_id_70_id_631.html">When is a Deal Not a Deal?</a>





</li>


<li class="leaf"><a  href="case_id_70_id_632.html">November 1 firestorm</a>





</li>


<li class="leaf"><a  href="case_id_70_id_633.html">Redactions and reporting</a>





</li>


<li class="leaf"><a  href="case_id_70_id_634.html">Government weighs in</a>





</li>


<li class="leaf"><a  href="case_id_70_id_635.html">Caution and concern</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/70/WikiLeaks&#32;and&#32;the&#32;Guardian.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_70.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title"><i>Guardian</i>: a brief history</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><div style="float:right;padding:10px">
	<img src="../../files/photos/493/Manchester&#32;Gdn&#32;front&#32;pg.jpg" /></div>
<p>
	The paper Rusbridger headed was founded in 1821 as the <em>Manchester Guardian</em>, based in northern England. The daily paper dropped &ldquo;Manchester&rdquo; from the title in 1959, and in 1964 it moved operations to London.<a href="case_id_70_id_626.html#_ftn1" name="_ftnref1" title="">[1]</a> Its circulation in 2010 fell from over 300,000 to some 280,000&mdash;ranking about 10th among British national newspapers.<a href="case_id_70_id_626.html#_ftn2" name="_ftnref2" title="">[2]</a> Its sister paper since 1993, the <em>Observer</em>, was published on Sundays. The <em>Guardian</em> was the only national paper with an ombudsman (&ldquo;readers&rsquo; editor&rdquo;), first appointed in 1997. In late 2008, the company moved to a modern building in the King&rsquo;s Cross section of London.</p>
<p>
	A left-leaning publication from the start, the <em>Guardian</em> emerged with time as a member of the &ldquo;serious&rdquo; national British daily press (along with the <em>Financial Times</em>, the <em>Daily Telegraph</em>, the <em>Times</em> of London, and the <em>Independent</em>). It was supported since 1936 by the Scott Trust, established by John Russell Scott, whose family had owned and edited the paper for decades. The Trust was pledged to preserve the editorial independence of the paper. All profits went back into the improvement of the publication, an unusual arrangement which to a degree insulated the paper from economic fluctuations in the industry.</p>
<p>
	By the early 1990s, it had largely shed an early reputation for cheap production and multiple typos (the satirical magazine <em>Private Eye</em> dubbed it the <em>Grauniad</em>), and went on to win multiple prestigious journalism awards, including the British Press Awards National Newspaper of the Year in 1997 and 2006.<a href="case_id_70_id_626.html#_ftn3" name="_ftnref3" title="">[3]</a> One of its best-known scoops was a series of investigations into Tory MPs Jonathan Aitken and Neil Hamilton, which led to the 1997 downfall of the Conservative government.</p>
<p>
	The <em>Guardian</em> also had a substantial online presence with, by 2010, the largest Web readership of any English-language newspaper after the <em>New York Times</em>. The editors subscribed to a &ldquo;free content&rdquo; philosophy, and declined to charge online readers. The website, launched in 1999, won the 2005, 2006, and 2007 Webby award (given by the International Academy of Digital Arts and Sciences) for best newspaper on the Internet. It also swept the hustings as Best Electronic Daily Newspaper for six years running from the British Newspaper Awards.<a href="case_id_70_id_626.html#_ftn4" name="_ftnref4" title="">[4]</a></p>
<p>
	The <em>Guardian</em>&rsquo;s editor in 2010 was Alan Rusbridger, 57, who first joined the paper in 1979. He left the paper for a period in the mid-1980s, but returned in 1987 and helped to launch a new section, <em>Guardian Weekend</em>. After a stint as deputy editor, <a href="case_id_70_id_174_c_bio.html">Rusbridger</a> was named editor in 1995; he helped foster the explosive growth of the paper&rsquo;s website.<a href="case_id_70_id_626.html#_ftn5" name="_ftnref5" title="">[5]</a>&nbsp;It was that prominence online which first attracted the attention, and the admiration, of a first-rate Internet hacker, Julian Assange.</p>
<div>
	<br clear="all" />
	<hr align="left" size="1" width="33%" />
	<div id="ftn1">
		<p>
			<span style="font-size: 11px;"><a href="case_id_70_id_626.html#_ftnref1" name="_ftn1" title="">[1]</a> For more on the <em>Guardian</em>&rsquo;s history, see <a class="extlink" href="http://www.guardian.co.uk/gnm-archive/2002/jun/06/1" target="_blank">&ldquo;History of the Guardian,&rdquo;</a> <em>Guardian</em>.</span></p>
	</div>
	<div id="ftn2">
		<p>
			<span style="font-size: 11px;"><a href="case_id_70_id_626.html#_ftnref2" name="_ftn2" title="">[2]</a> For circulation numbers, see <a class="extlink" href="http://www.guardian.co.uk/media/table/2010/nov/12/abcs-national-newspapers" target="_blank">&ldquo;ABCs: National daily newspaper circulation October 2010,&rdquo;</a> <em>Guardian</em>, November 12, 2010.</span></p>
	</div>
	<div id="ftn3">
		<p>
			<span style="font-size: 11px;"><a href="case_id_70_id_626.html#_ftnref3" name="_ftn3" title="">[3]</a> For a list of award winners, see <a class="extlink" href="http://www.pressgazette.co.uk/hybrid.asp?typeCode=99&amp;navcode=92" target="_blank">&ldquo;British Press Awards,&rdquo;</a> <em>Press Gazette</em>.</span></p>
	</div>
	<div id="ftn4">
		<p>
			<span style="font-size: 11px;"><a href="case_id_70_id_626.html#_ftnref4" name="_ftn4" title="">[4]</a> For winners, please see: <a href="http://www.newspaperawards.co.uk/index.php?pid=4">http://www.newspaperawards.co.uk/index.php?pid=4</a><a class="extlink" href="http://www.newspaperawards.co.uk/index.php?pid=4." target="_blank">.</a></span></p>
	</div>
	<div id="ftn5">
		<p>
			<span style="font-size: 11px;"><a href="case_id_70_id_626.html#_ftnref5" name="_ftn5" title="">[5]</a> On the side, Rusbridger wrote children&rsquo;s books and served as chair of the National Youth Orchestra.</span></p>
	</div>
</div>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_70_id_625_pid_0.html" class="page-previous" title="Go to previous page">&#171;&#160;Introduction</a>

<a href="case_id_70_id_627_pid_0.html" class="page-next" title="Go to next page">WikiLeaks: a brief history&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_70_id_171_c_bio.html">Nick&nbsp;Davies</a></li>

<li class="leaf"><a  href="case_id_70_id_172_c_bio.html">David&nbsp;Leigh</a></li>

<li class="leaf"><a  href="case_id_70_id_173_c_bio.html">Ian&nbsp;Katz</a></li>

<li class="leaf"><a  href="case_id_70_id_174_c_bio.html">Alan&nbsp;Rusbridger</a></li>

<li class="leaf"><a  href="case_id_70_id_175_c_bio.html">Jon&nbsp;Casson</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
