

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>First Contact | Friend or foe? WikiLeaks and the Guardian
	- A Journalism Case Study

  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #1f9937;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #1f9937;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/70/knightcase_banner_wikileaks.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_70.html" title="Home"><span>First Contact</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_70_id_624.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_70_id_625.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_70_id_626.html"><i>Guardian</i>: a brief history</a>





</li>


<li class="leaf"><a  href="case_id_70_id_627.html">WikiLeaks: a brief history</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_70_id_628.html">First Contact</a>





</li>


<li class="leaf"><a  href="case_id_70_id_629.html">The War Logs</a>





</li>


<li class="leaf"><a  href="case_id_70_id_630.html">Iraq logs&mdash;and the cables</a>





</li>


<li class="leaf"><a  href="case_id_70_id_631.html">When is a Deal Not a Deal?</a>





</li>


<li class="leaf"><a  href="case_id_70_id_632.html">November 1 firestorm</a>





</li>


<li class="leaf"><a  href="case_id_70_id_633.html">Redactions and reporting</a>





</li>


<li class="leaf"><a  href="case_id_70_id_634.html">Government weighs in</a>





</li>


<li class="leaf"><a  href="case_id_70_id_635.html">Caution and concern</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/70/WikiLeaks&#32;and&#32;the&#32;Guardian.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_70.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">First Contact</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>
	Davies occupied a special place at the <em>Guardian</em>. A staff reporter for many years, he had been since 1987 a freelancer contracted to report only for the <em>Guardian</em>. His job was to find the blockbuster stories no one else had noticed and pursue them&mdash;as he puts it, &ldquo;seeing what must be there that isn&rsquo;t included in what&rsquo;s being written.&rdquo;<a href="case_id_70_id_628.html#_ftn1" name="_ftnref1" title="">[1]</a> The strategy had paid off handsomely; Davies in 2009 alone broke two consequential stories: that the Rupert Murdoch-owned tabloid, <em>News of the World</em>, had hacked into celebrity voicemail accounts, and that Murdoch&rsquo;s umbrella company News Corporation had paid huge sums to settle legal cases related to the phone hacking.</p>
<p>
	When Davies saw the item on Manning&rsquo;s arrest and the hunt for Assange, he thought &ldquo;maybe the real story isn&rsquo;t that four paragraphs, it&rsquo;s the secrets. It was extraordinary that nobody else was trying to get hold of Julian [Assange] to ask him what these secrets were and whether they could have them.&rdquo; Davies thought it possible that Assange could be persuaded to share his files&mdash;whatever they contained&mdash;with the <em>Guardian</em>. On June 16, 2010, he tried to reach Assange via email. Assange replied, but cryptically. Then Davies was tipped that Assange was planning to appear in Brussels on Monday, June 21, at a press conference.</p>
<p>
	Davies consulted with <em>Guardian</em> Investigations Editor <a href="case_id_70_id_172_c_bio.html">David Leigh</a>, who had already crossed paths with Assange. Leigh felt there was little merit to pursuing the WikiLeaks founder. But Editor Rusbridger approved Davies to travel to Brussels. Another <em>Guardian</em> reporter, European correspondent Ian Traynor, was already in the Belgian capital and cornered Assange after the press conference; the Australian agreed to meet again on Tuesday, June 22.</p>
<p>
	<strong><em>Agreement</em>. </strong>On Tuesday afternoon, Davies and Traynor met Assange at the Hotel Leopold in Brussels. Traynor had to leave, but Davies and Assange talked for some six hours. Davies wanted above all to find out what Assange had, whether it was worth anything, and whether he would share it with the <em>Guardian</em>. On the first two points, the news seemed good: Assange claimed to have more than a million official US documents, divided into four significant batches: battle reports from Iraq; battle reports from Afghanistan; US diplomatic cables from around the world; and internal communications on operations at the US detention center in Guantanamo Bay. Assange had wanted to post some of these on the WikiLeaks website for at least two weeks, but had refrained out of concern for Private Manning.</p>
<p>
	As for sharing, Davies and Traynor made the argument that Assange could reach far more readers, and gain valuable credibility for his trove, if he aligned his efforts with the <em>Guardian</em>. &ldquo;We are going to put you on the moral high ground&mdash;so high that you&rsquo;ll need an oxygen mask,&rdquo; Davies told Assange.<a href="case_id_70_id_628.html#_ftn2" name="_ftnref2" title="">[2]</a> But Davies wanted to go even further. On the train to Brussels, he had decided to ask Assange if he would endorse working with a consortium of publications.</p>
<p>
	Davies wanted primarily to protect the <em>Guardian</em> against draconian UK libel and secrecy laws. Britain had nothing like the free speech protection that US journalists enjoyed under the First Amendment. Partnership with a US publication such as the <em>New York Times</em>, he theorized, would give the <em>Guardian</em> indirect access to that shield. For the <em>Guardian</em>, collaboration with other news outlets was nothing new. In 2009, it had worked with the BBC, a Dutch paper, and a Norwegian TV station to publish stories on the Trafigura company. In 2006, it worked with TV and print organizations in Sweden, Romania, and Tanzania on a story about corruption at the British arms firm BAE.</p>
<p>
	To Davies&rsquo; delight, Assange agreed readily. &ldquo;I was pushing at an open door in putting this argument to him,&rdquo; says Davies, &ldquo;because he was aware that the Wiki model was a failure. He was already moving toward trying to use mainstream media to get more impact.&rdquo; Davies and Assange were in accord that the <em>Guardian</em> and <em>New York Times</em> would cull the database, extract a list of stories, publish some themselves and hand out the remainder to other media outlets such as <em>Le Monde</em>, the <em>Washington Post</em>, Fox television, or the German weekly magazine <em>Der Spiegel</em>.&nbsp;&nbsp;</p>
<p>
	<strong><em>Terms</em>.</strong> By the end of the meeting, they had established terms which would govern their lives for the next six months. Assange would provide the <em>Guardian</em> with the four sets of data &ndash;war records from Afghanistan, the Iraq war logs, a trove of US diplomatic cables, and personal files of prisoners at Guantanamo Bay&mdash;which it would distribute to the partners; the partner news organizations would simultaneously publish each set of documents and their related stories; and WikiLeaks would publish the documents at the same time on its own website. Assange set only one condition: he would determine when publication started.</p>
<p>
	Early the next morning, Wednesday, June 23, Davies headed back to London, where he briefed Leigh and Rusbridger. Later that day, Rusbridger phoned Bill Keller, executive editor of the <em>New York Times</em>. Did he want in on this deal? The answer was yes. Meanwhile, Assange wanted <em>Spiegel</em> to become a full partner as well, and after considerable back and forth, the magazine joined the team on June 29.</p>
<div>
	<br clear="all" />
	<hr align="left" size="1" width="33%" />
	<div id="ftn1">
		<p>
			<span style="font-size: 11px;"><a href="case_id_70_id_628.html#_ftnref1" name="_ftn1" title="">[1]</a> Author&rsquo;s interview with Nick Davies in London, UK, on March 8, 2011. All further quotes from Davies, unless otherwise attributed, are from this interview.</span></p>
	</div>
	<div id="ftn2">
		<p>
			<span style="font-size: 11px;"><a href="case_id_70_id_628.html#_ftnref2" name="_ftn2" title="">[2]</a> David Leigh and Luke Harding, <em>WikiLeaks: Inside Julian Assange&rsquo;s War on Secrecy</em> (London: Guardian Books), 2011, p. 99.</span></p>
	</div>
</div>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_70_id_627_pid_0.html" class="page-previous" title="Go to previous page">&#171;&#160;WikiLeaks: a brief history</a>

<a href="case_id_70_id_629_pid_0.html" class="page-next" title="Go to next page">The War Logs&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_70_id_171_c_bio.html">Nick&nbsp;Davies</a></li>

<li class="leaf"><a  href="case_id_70_id_172_c_bio.html">David&nbsp;Leigh</a></li>

<li class="leaf"><a  href="case_id_70_id_173_c_bio.html">Ian&nbsp;Katz</a></li>

<li class="leaf"><a  href="case_id_70_id_174_c_bio.html">Alan&nbsp;Rusbridger</a></li>

<li class="leaf"><a  href="case_id_70_id_175_c_bio.html">Jon&nbsp;Casson</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
