<html>
  {{ $baseurl := .Site.BaseURL }}
  {{ partial "header.html" . }}
  
  <!-- Debug Statements -->
  <!-- <p>Is this seen as a node or page? {{ printf "%T" . }} </p>
  <p>Top level template context(prints values under .Site): {{ printf "%#v" $.Site }}</p>
  <p>Value of .Permalink (on Nodes and Pages): {{ printf "%#v" .Permalink }}</p>
  <p>List of all variables scoped to the current context: {{ printf "%#v" . }}</p>
  <p>When writing homepage see what pages you are looping through look like:</p>
  {{ range .Data.Pages }}
    <p> {{/* The context, ".", is now a Page */}} </p>
    <p> {{ printf "%#v" . }} </p>
  {{ end }}</p> -->
  <body>
    <div id="container">
      <!-- Banner header -->
        {{ partial "body_banner.html" . }}
      <!-- id="header" -->

      <div id="pagebody">
        <!-- Left sidebar -->
          {{ partial "article_menu.html" . }}
        <!-- id="sidebar-left" -->

        <!-- Main content of page -->
          {{ partial "index_content.html" . }}
          
      <div class="visualclear"></div>
    </div><!-- id="pagebody" -->

<!-- footer -->
{{ partial "footer.html" . }}
<!-- end footer -->
</div>
<!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
